<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Hyper Velocity Performance Tuners</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.4/dist/css/bulma-carousel.min.css">
		<link href="https://fonts.googleapis.com/css?family=Lato|Mukta+Malar" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/8.11.8/sweetalert2.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
		<link rel="stylesheet" href="css/styles.css">
		<link rel="icon" type="image/ico" href="images/favicon.ico" />
		<!-- Web portfolio of Ryan Hunter | GitHub: SystemsVanguard | URL: www.RyanHunter.org Dated: Oct 2019  -->
		
	</head>
	<body>
	
	
		<!--- NavBar -->
		<nav class="navbar is-success" role="navigation" aria-label="main navigation">
		  <div class="navbar-brand">
			<a class="navbar-item" href="/">
			  <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
			</a>

			<a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
			  <span aria-hidden="true"></span>
			  <span aria-hidden="true"></span>
			  <span aria-hidden="true"></span>
			</a>
		  </div>

		  <div id="navbarBasicExample" class="navbar-menu">
			<div class="navbar-start">
			  <a href="/" class="navbar-item">
				<i class="fas fa-home"> Home</i>
			  </a>

			  <a href="/services" class="navbar-item">
				<i class="fas fa-shopping-basket"> Services</i>
			  </a>
			  <a href="/gallery" class="navbar-item">
				<i class="fas fa-images"> Gallery</i>
			  </a>

			  <a href="/about" class="navbar-item">
				<i class="fas fa-info-circle"> About</i>
			  </a>
			  <a href="/testimonials" class="navbar-item">
				<i class="fas fa-comment-dots"> Testimonials</i>
			  </a>
			  <a href="/wishlist" class="navbar-item">
				<i class="fas fa-smile-beam"> WishList</i>
			  </a>
			</div>

			<div class="navbar-end">
			  <div class="navbar-item">
				<div class="buttons">
				  <a href="/contact" class="button is-link">
					<i class="fas fa-envelope"> <strong>Contact</strong></i>
				  </a>
				</div>
			  </div>
			</div>
		  </div>
		</nav>
		<!--/ NavBar -->	
	
  
  <!-- MAIN CONTENT HERE -->
  <%- body %>
  


	<!--- Footer -->
	<footer class="footer">
	  <div class="content has-text-centered">		
		<a href="/services">Services</a> | <a href="/gallery">Gallery</a> | <a href="/articles">Articles</a> | <a href="/about">About</a> | <a href="/testimonials">Testimonials</a> | <a href="/contact">Contact</a> | <a href="/wishlist">WishList</a> | <a href="/">Home</a> 
		<div class="footerTitle">
		 <a href="/" class="myheading3 link_no_underline">Hyper Velocity Tuners</a>
		</div>
  
		Copyright &copy; 2015 ~ 2019 | All rights reserved.  Coding Portfolio at <a href="http://www.ryanhunter.org/"><strong>RyanHunter.org</strong></a><br>
		A portfolio site built using <a href="https://nodejs.org/en/">Node.js</a>, <a href="https://bulma.io/">Bulma CSS</a>, <a href="https://fonts.google.com/">Google Fonts</a>, <a href="https://fontawesome.com/">FontAwesome 5</a>, JavaScript, CSS, HTML5, and lots of love &#9825; &#9829;!!<br />
		GitHub username <a href="https://github.com/systemsvanguard"><strong><em>SystemsVanguard</em></strong></a>. 
		
		  <div class="footer_social">
		    <a href="https://github.com/systemsvanguard" title="GitHub"><i class="fab fa-github-alt"></i></a> 
		    <a href="https://www.meetup.com/members/41724382/" title="MeetUp"><i class="fab fa-meetup"></i></a> 
		    <a href="https://stackexchange.com/users/1296565/funtasticapps" title="Stack Exchange"><i class="fab fa-stack-exchange"></i></a> 
		    <a href="https://stackoverflow.com/users/1247476/funtasticapps" title="Stack Overflow"><i class="fab fa-stack-overflow"></i></a> 
		    <a href="https://www.reddit.com/user/funtasticapps" title="Reddit"><i class="fab fa-reddit-alien"></i></a> 
		    <a href="https://www.linkedin.com/in/ryan-hunter-4a166013/" title="LinkedIn"><i class="fab fa-linkedin"></i></a> 
		  </div>
		
	  </div>
	</footer>  

		<!-- JS files -->
		<script src="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.4/dist/js/bulma-carousel.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/8.11.8/sweetalert2.min.js"></script>
		<script src="js/scripts.js"></script>
		<script>
			// Bulma Image Carousel. See external JS file.  Also, ensure to link to the required JS carousel file.
		</script>
		<script>
			// Bulma Navigation Bar ~ JavaScript Toggle Component. See external JS file. 
		</script>		
		
	</body>
</html>


