<%- contentFor('body') %>
<div class="homepage" id="homepage">
		<!-- Start Hero Carousel -->
		<section class="hero is-large has-carousel">
			<div id="carousel-demo" class="hero-carousel">
				<div class="item-1">	  
					<div class="card">
					  <div class="card-image">
						<figure class="image is-16by9">
						  <img src="images/carousel/carousel_01_corvette05.jpg" alt="Performance optimized & tuned - 2019 Chevrolet Corvette" class="has-ratio" width="1200" height="675" style="width:100%">
						</figure>
					  </div>
					  <div class="card-content is-overlay">
							<span class="tag is-link has-text-white">
							<b><span class="has-text-danger">Customized - </span>  2019 Chevrolet Corvette</b>
							</span>	 
					  </div>
					</div>
				</div>
				<div class="item-2">
					<!-- <h1>Slide 02B</h1>-->
					<div class="card">
					  <div class="card-image">
						<figure class="image is-16by9">
						  <img src="images/carousel/carousel_02_shelby05.jpg" alt="2018 Ford Shelby" class="has-ratio" width="1200" height="675" style="width:100%">
						</figure>
					  </div>
					  <div class="card-content is-overlay">
							<span class="tag is-black has-text-light">
							<b><span class="has-text-danger">Escapist - </span> 2018 Ford Shelby</b>
							</span>	 
					  </div>
					</div>

				</div>
				<div class="item-3">
					<!-- <h1>Slide 03C</h1>-->
					<div class="card">
					  <div class="card-image">
						<figure class="image is-16by9">
						  <img src="images/carousel/carousel_03_camaro01.jpg" alt="2018 Chevrolet Camaro" class="has-ratio" width="1200" height="675" style="width:100%">
						</figure>
					  </div>
					  <div class="card-content is-overlay">
							<span class="tag is-success has-text-white">
							<b><span class="has-text-danger">Tuned & Optimized - </span> 2018 Chevrolet Camaro</b>
							</span>		 
					  </div>
					</div>
				</div>				
				<div class="item-4">
					<!-- Slide 04  -->
					<div class="card">
					  <div class="card-image">
						<figure class="image is-16by9">
						  <img src="images/carousel/carousel_04_corvette04.jpg" alt="2020 Chevrolet Corvette" class="has-ratio" width="1200" height="675" style="width:100%">
						</figure>
					  </div>
					  <div class="card-content is-overlay">
							<span class="tag is-link has-text-white">
							<b><span class="has-text-danger">Naturally Aspirated - </span> 2020 Chevrolet Corvette</b>
							</span>	 
					  </div>
					</div>
				</div>
				<div class="item-5">
					<!-- Slide 05  -->
					<div class="card">
					  <div class="card-image">
						<figure class="image is-16by9">
						  <img src="images/carousel/carousel_05_mustang03.jpg" alt="2018 Ford Mustang GT" class="has-ratio" width="1200" height="675" style="width:100%">
						</figure>
					  </div>
					  <div class="card-content is-overlay">
							<span class="tag is-black has-text-white">
							<b><span class="has-text-danger">Uncaged - </span> 2018 Ford Mustang GT</b>
							</span>	
					  </div>
					</div>

				</div>
				<div class="item-6">
					<!-- Slide 06  -->
					<div class="card">
					  <div class="card-image">
						<figure class="image is-16by9">
						  <img src="images/carousel/carousel_06_corvette02.jpg" alt="2018 Chevrolet Corvette" class="has-ratio" width="1200" height="675" style="width:100%">
						</figure>
					  </div>
					  <div class="card-content is-overlay">
							<span class="tag is-success has-text-white">
							<b><span class="has-text-danger">Prowling - </span> 2018 Chevrolet Corvette</b>
							</span>	 
					  </div>
					</div>

				</div>
				<div class="item-7">
					<!-- Slide 07  -->
					<div class="card">
					  <div class="card-image">
						<figure class="image is-16by9">
						  <img src="images/carousel/carousel_07_corvette01.jpg" alt="Chevrolet Corvette" class="has-ratio" width="1200" height="675" style="width:100%">
						</figure>
					  </div>
					  <div class="card-content is-overlay">
							<span class="tag is-link has-text-white">
							<b><span class="has-text-danger">Attack Mode - </span> 2020 Chevrolet Corvette</b>
							</span>	
					  </div>
					</div>
				</div>
				<div class="item-8">
					<!-- Slide 08  -->
					<div class="card">
					  <div class="card-image">
						<figure class="image is-16by9">
						  <img src="images/carousel/carousel_08_shelby04.jpg" alt="2020 Ford Mustand GTS" class="has-ratio" width="1200" height="675" style="width:100%">
						</figure>
					  </div>
					  <div class="card-content is-overlay">
							<span class="tag is-link has-text-white">
							<b><span class="has-text-danger">Unleashed - </span> 2020 Ford Mustand GTS</b>
							</span>	
					  </div>
					</div>
				</div>
			</div>
			<div class="hero-head"></div>
			<div class="hero-body"></div>
			<div class="hero-foot"></div>
		</section>
		<!-- End Hero Carousel -->
		<section class="hero is-success">
		  <div class="hero-body">
			<div class="container">
			  <h1 class="title has-text-centered">
				Hyper Velocity Tuners
			  </h1>
			  <h2 class="subtitle has-text-centered has-text-link">
				The absolute best in performance tuning & customizations.
			  </h2>
			  <p class="has-text-centered">Fore chantey bucko loot gangplank topgallant yawl gunwalls pink. Piracy hail-shot fathom deadlights trysail gaff grapple.  Haul wind ye maroon black jack gibbet Arr list square-rigged yard. Tack mizzenmast crow's nest Spanish Main driver topgallant mizzen gangway Sail ho.  Sail ho trysail rum pinnace tender ho crow's nest Jolly Roger yawl. Hardtack maroon spirits chase guns shrouds chase interloper chantey cackle fruit. Trysail landlubber or just lubber Barbary Coast pirate</p> 
			</div>
		  </div>
		</section>
</div><!-- end homepage -->


