<%- contentFor('body') %>
  <section class="section">
    <div class="container" id="wishlist">
      <h1 class="myheading2 has-text-centered">Wish List</h1>
	    <p>Cat o'nine tails Pirate Round lugsail jolly boat weigh anchor swab chase hornswaggle bowsprit. Fore chantey bucko loot gangplank topgallant yawl gunwalls pink. Piracy hail-shot fathom deadlights trysail American Main matey gaff grapple.</p>
	  
	  <figure class="container image is-16by9">
	    <img src="images/cars/img_carousel_09_mustang02.jpg" class="img-fluid rounded mx-auto d-block  has-text-centered" alt="Wish List" />
	  </figure>

        <p>Yo-ho-ho brigantine lateen sail belaying pin fore pillage belay jury mast spirits. Haul wind ye maroon black jack gibbet Arr list square-rigged yard. Tack mizzenmast crow's nest Spanish Main driver topgallant mizzen gangway Sail ho.  Sail ho trysail rum pinnace tender ho crow's nest Jolly Roger yawl. Hardtack maroon spirits chase guns shrouds chase interloper chantey cackle fruit. Trysail landlubber or just lubber Barbary Coast pirate jack hang the jib wench plunder sheet.</p>
		
		<p>Cat o'nine tails Pirate Round lugsail jolly boat weigh anchor swab chase hornswaggle bowsprit. Fore chantey bucko loot gangplank topgallant yawl gunwalls pink. Piracy hail-shot fathom deadlights trysail American Main matey gaff grapple.</p>

    </div>
  </section>





